
<div class="mb-1" id="drty-card-login-page">
  <div id="login-hero-image" class="text-center mb-1"  >
    <img id="login-redirect-img" class="hero-img img-fluid" style="object-fit: contain; width:940px; height: 621px;"/>
  </div>
  <div class="text-center" id="drty-card-textbox-login">
    <h2 style="color: black;">
      Oops! looks Like you're not logged in. Click the button below to head to our login page.
    </h2>
  </div>
</div>












    <div class="col-md text-center">


      <a id="new-back-btn" href="/"><img src="/images/backbutton.png" alt="back button"></a>
    </div>
 {{!-- <div class="col-md text-center">
    <h2>Oops! You aren't logged in. Hit the button to Continue to our login page!</h2>
      <a id="new-back-btn" href="/home"><img src="/images/backbutton.png" alt="back button"></a>
    </div> --}}


 
<script src="./js/login.js"></script>


